{% extends "base.html" %}
{% block content %}

  Chat  {{ user.username }}, ({{ user.email }}) with {{ contact }}

<form method="post">
{% csrf_token %}
<p>

{% for key, item in mes.items %}
    <div>
{{ item.send }} {{ item.login }}<br>
{{ item.text }}
    </div>
{% endfor%}

{#{{ mes }}#}
{#{% for key, value in messages %}#}
{#{{ key }}|{{ value }}#}
{#{% endfor %}#}
</p>

<textarea cols="80" rows="10" name="sender">
</textarea> <br><br>

<input type="submit" value="Send"/>
</form>

<p>
<a href="/detail"> My profile </a>
</p>

<p>
<a href="/adressbook"> Adreess book </a>
</p>
{{ block.super }}
{% endblock content %}




