{% extends "base.html" %}
{% block content %}

  Chat  {{ user.username }}, ({{ user.email }}) with {{ contact }}

<form method="post">
{% csrf_token %}
<p>
<textarea cols="80" rows="20" readonly>
{% for text in id %}
    {{ text }}
    {% for text in id_cont %}
        {{ text }}
        {% return %}
    {% endfor %}
{% endfor %}


</textarea> <br><br>
</p>

<textarea cols="80" rows="10" name="sender">
</textarea> <br><br>

<input type="submit" value="Send"/>
</form>

<p>
<a href="/detail"> My profile </a>
</p>

<p>
<a href="/adressbook"> Adreess book </a>
</p>
{{ block.super }}
{% endblock content %}




